// Variable
@use './foundation/_variable' as *;

// Mixin
@use './foundation/_mixin' as m;

// Main
.l-container {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0 5%;
  box-sizing: border-box;

  @media screen and (min-width: $tb-width) {
    max-width: $tb-width;
    margin: 0 auto;
    padding: 0;
  }
}
